<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show class</title>
    <link rel="stylesheet" href= 
    "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
            
        <script src= 
    "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> 
        </script> 
            
        <script src= 
    "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> 
        </script> 
            
        <script src= 
    "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> 
        </script> 
          
        <style type="text/css">
            h1 {
                color:green;
            }
            .xyz {
                background-size: auto;
                text-align: center;
                padding-top: 100px;
            }
            .btn-circle.btn-sm {
                width: 30px;
                height: 30px;
                padding: 6px 0px;
                border-radius: 15px;
                font-size: 8px;
                text-align: center;
            }
            .btn-circle.btn-md {
                width: 50px;
                height: 50px;
                padding: 7px 10px;
                border-radius: 25px;
                font-size: 10px;
                text-align: center;
            }
            .btn-circle.btn-xl {
                width: 70px;
                height: 70px;
                padding: 10px 16px;
                border-radius: 35px;
                font-size: 12px;
                text-align: center;
            }
        </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Online Class</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Class Code:<%=classdetails[0]._id%></a>
        </li>
       
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/leaveclass" method="post">
        
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" name="mail" value="<%=mail%>">Leave Class</button>
        <button class="btn btn-outline-success my-2 my-sm-0" style="margin-left: 50px;"><a href="/" style="text-decoration: none;color: white;">Logout</a></button>
      </form>
    </div>
  </nav><br>
    <div style="text-align: center;" class="col-md-12" >
            <h2><%=classdetails[0].college%></h2>
        <h3><%=classdetails[0].year%>-<%=classdetails[0].section%></h3><hr>
    </div>

   <div style="text-align: center;" class="col-md-12">
    <form action="/showclass" method="post">
        <button type="submit" class="btn btn-outline-success my-2 my-lg-0" name="id" value="<%=classdetails[0]._id%>">Join Now</button>
    </form>
       
    </div>
  <br>
    <div class="container" style="overflow-x:auto;">
        <h3>TODAY CLASSES</h3>      
        <table class="table table-bordered">
              <thead>
                  <tr>
                    <th>Day</th>
                    <th>Class No</th>
                    <th>StartTime-EndTime</th>
                    <th>Class</th>
                    <!-- <th>Link</th> -->
                  </tr>
                 
                </thead>
                <tbody>
                    
                   <% perioddetail.forEach(function(name){%>
                    <%if(name.day===today){%>
                    <tr>
        <td><%=name.day%></td> 
        <td><%=name.periodnumber%></td>  
        <td><%=name.starttime%>-<%=name.endtime%></td>
        <td><%=name.period%></td>  
        <!-- <td><%=name.link%></td> -->
                  </tr>
                <%}%>
                <%});%>
                </tbody>
      
            </div>

    <br><hr>
</div>
  
   
    
   
</body>
</html>